<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBHYst3TssfX8W7TDhPVslGSCyE1lDuLmc</string>
	<key>GCM_SENDER_ID</key>
	<string>276687207652</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.o2Bp</string>
	<key>PROJECT_ID</key>
	<string>o2tech-blood-pressure</string>
	<key>STORAGE_BUCKET</key>
	<string>o2tech-blood-pressure.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:276687207652:ios:5084515bfa7b6e460d00f1</string>
</dict>
</plist>